# txt and xlsx
output.txt
output.xlsx

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# User-specific stuff
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources.ids
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# mpeltonen/sbt-idea plugin
.idea_modules/

# Cursive Clojure plugin
.idea/replstate.xml

# Editor-based Rest Client
.idea/httpRequests
